
{{#each categories as |category|}}
<li>
  <a href="#"
    class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" value="{{id}}">{{name}}</a>
</li>
{{/each}}