<div class="background flex flex-col flex-grow justify-center items-center">
  <div
    class="relative py-10 border-2 border-color-gray sm:w-4/5 md:w-1/2 bg-white rounded flex flex-col items-center justify-center px-8 my-3">
    <h1 class="text-2xl text-gray-600 self-start font-semibold mb-4">Create new card</h1>
    <form id="create-card-form" action="" class="w-full flex flex-col justify-around my-3">
      <input type="text" id="card-question" placeholder="Enter question here"
        class="focus:outline-none focus:border-blue-700 border-b-2 border-gray-300 w-full">
      <input type="text" id="card-answer" placeholder="Enter answer here"
        class="focus:outline-none focus:border-blue-700 border-b-2 border-gray-300 my-8 w-full">
    </form>
    <div class="flex w-full justify-between">

      <div class="flex">
        <label for="categories" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-400">Select Category</label>
        <select id="create-category-select"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{> dropdown}}
        </select>
      </div>

      <div>
        <button class="focus:border-2">
          <i class="far fa-eye fa-lg text-gray-600"></i>
        </button>
        <button id="create-card-submit">
          <i class="fas fa-check fa-lg mx-2 text-gray-600"></i>
        </button>
        <button id="create-card-clear">
          <i class="fas fa-trash-alt fa-lg text-gray-600"></i>
        </button>
      </div>
    </div>
  </div>
</div>