<div class="background flex flex-grow justify-center items-center">
    <div class="login-card bg-white p-10 rounded shadow-md">
        <h2 class="text-2xl font-medium mb-6 text-gray-900">Login</h2>
        <div class="flex">
            {{!-- <div class="flex items-center">
                <img src="../public/assets/images/undraw_secure_login.svg" class="h-48 mr-10" alt="">
            </div> --}}
            <div id="login">
                <form class="login-form">
                <div class="mb-6">
                    <label for="email" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Your email</label>
                    <input type="email" id="email-login"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="name@gmail.com" required="">
                </div>
                <div class="mb-6">
                    <label for="password" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Your
                    password</label>
                    <input type="password" id="password-login"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required="">
                </div>
                {{!-- Post-MVP addition --}}
                {{!-- <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" type="checkbox"
                        class="bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                        required="">
                    </div>
                    <div class="text-sm ml-3">
                    <label for="remember" class="font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                    </div>
                </div> --}}
                <div>
                    {{!-- <button type="submit"
                    class="text-white mb-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button> --}}
                    <button type="submit" id="login-submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                </div>
                </form>
            </div>
        </div>
    </div>
  </div>
<script src="./js/login.js"></script>