<div class="background flex flex-grow justify-center items-center">
  <div class="bg-white w-96 p-10 rounded shadow-md flex my-4">
    <form id="registration-form" class="w-full flex flex-col">
      <div class="mb-6">
        <h2 class="text-2xl mb-6 font-medium text-gray-900">Create an account</h2>
        <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">First Name</label>
        <input type="text" id="first-name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="John" required="">
      </div>
      <div class="mb-6">
        <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Last Name</label>
        <input type="text" id="last-name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="Snow" required="">
      </div>
      <div class="mb-6">
        <label for="email" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Your email</label>
        <input type="email" id="email-signup"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="name@email.com" required="">
      </div>
      <div class="mb-6">
        <label for="password" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Your
          password</label>
        <input type="password" id="password-signup"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          required="">
      </div>
      {{!-- <div class="mb-6">
        <label for="repeat-password" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Repeat
          password</label>
        <input type="password" id="repeat-password"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          required="">
      </div> --}}
      {{!-- <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
          <input id="terms" aria-describedby="terms" type="checkbox"
            class="bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
            required="">
        </div>
        <div class="text-sm ml-3">
          <label for="terms" class="font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#"
              class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
        </div>
      </div> --}}
      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register
        new account</button>
    </form>
  </div>
</div>
<script src="./js/registration.js"></script>